/* screen - iphone-11-pro-x-14 */

.iphone-11-pro-x-14 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-14 .add-food-SQ9Gz0 {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 103px;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 5px;
  min-width: 223px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .add-to-plate-21-gSaABR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 27px;
  min-width: 161px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .alfredo-williams-1Wbicm {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 66px;
  min-height: 28px;
  min-width: 175px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-14 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-14 .button-primary-SQ9Gz0 {
  align-items: center;
  align-self: center;
  background-color: var(--aqua-forest);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-end;
  margin-left: 2.0px;
  margin-top: 3px;
  min-width: 343px;
  padding: 0 90px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-14 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-14 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-14 .divider-m6qZgu {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 12px;
  position: relative;
  width: 343px;
}
.iphone-11-pro-x-14 .flex-row-51qBGa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 19px;
  min-width: 138px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .flex-row-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  margin-left: 16px;
  min-width: 260px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .flex-row-dwb8Kj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 17px;
  min-width: 133px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .flex-row-xZ5mKx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 16px;
  min-width: 134px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-14 .garlic-bread-z0dpoe {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 18px;
  min-height: 21px;
  min-width: 95px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .green-beans-7h1SkZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 18px;
  min-height: 21px;
  min-width: 100px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .icon-1Wbicm {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 19px;
}
.iphone-11-pro-x-14 .icon-light-chevronleft-M2kxlM {
  background-color: transparent;
  height: 21px;
  left: 182px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.iphone-11-pro-x-14 .line-2-M2kxlM {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 375px;
}
.iphone-11-pro-x-14 .line-3-kBrP5g {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 54px;
  width: 375px;
}
.iphone-11-pro-x-14 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-14 .menu-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 712px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-14 .mushrooms-I9feWe {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 18px;
  min-height: 21px;
  min-width: 96px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .noun-minus89428-1-xGmwPO {
  background-color: transparent;
  flex-shrink: 1;
  height: 103px;
  margin-top: -0.14px;
  object-fit: cover;
  position: relative;
  width: 100px;
}
.iphone-11-pro-x-14 .noun-plus89427-1-SKxuV7 {
  background-color: transparent;
  height: 74px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100px;
}
.iphone-11-pro-x-14 .nounrating702221-1-kBrP5g {
  background-color: transparent;
  height: 59px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 184px;
}
.iphone-11-pro-x-14 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-14 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-14 .overlap-group1-xGmwPO {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 74px;
  margin-bottom: 0.99px;
  margin-left: 0px;
  position: relative;
  width: 121px;
}
.iphone-11-pro-x-14 .overlap-group2-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-left: 0.0px;
  margin-top: 5px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-14 .overlap-group3-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 0.0px;
  margin-top: 20px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-14 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-14 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-14 .radio-7h1SkZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-14 .radio-I9feWe {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-14 .radio-selected-SQ9Gz0 {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 3px;
  min-height: 48px;
  position: relative;
  width: 343px;
}
.iphone-11-pro-x-14 .radio-z0dpoe {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-14 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-14 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-14 .side-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 16px;
  margin-top: 7px;
  min-height: 28px;
  min-width: 49px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .special-instructions-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 16px;
  margin-top: 4px;
  min-height: 28px;
  min-width: 210px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-14 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-14 .tender-breast-o-ved-with-a-side-SQ9Gz0 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: -86px;
  margin-top: 15px;
  min-height: 43px;
  position: relative;
  text-align: left;
  width: 445px;
}
.iphone-11-pro-x-14 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-14 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-14 .write-any-reque-e-no-cheese-etc-m6qZgu {
  background-color: transparent;
  color: var(--silver);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 346px;
  position: relative;
  text-align: left;
  width: auto;
}
.iphone-11-pro-x-14 .x1-SKxuV7 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: auto;
}
