/* screen - iphone-11-pro-x-16 */

.iphone-11-pro-x-16 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-16 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-16 .border-CPn5BB {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-16 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-16 .button-primary-Q7JEYP {
  align-items: center;
  background-color: var(--aqua-forest);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-end;
  margin-top: 69px;
  min-width: 343px;
  padding: 0 132px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-16 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-16 .capacity-CPn5BB {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-16 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-16 .confirm-hDRmAL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 27px;
  min-width: 77px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-16 .flex-row-Q7JEYP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-left: 1px;
  min-width: 223px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-16 .flex-row-agUl4B {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 21px;
  margin-top: 25px;
  min-width: 152px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-16 .icon-light-chevronleft-Q7JEYP {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-left: 0.98px;
  margin-top: 93px;
  position: relative;
  width: 12px;
}
.iphone-11-pro-x-16 .icon-nxVO5P {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 19px;
}
.iphone-11-pro-x-16 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-16 .menu-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 712px;
  justify-content: flex-start;
  left: 0px;
  overflow: hidden;
  padding: 20px 15px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-16 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-16 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 712px;
  margin-top: 0px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-16 .overlap-group2-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-16 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-16 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-16 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-16 .rectangle-2-xeup4o {
  background-color: var(--aqua-forest-2);
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-16 .rectangle-3-RH0WJ5 {
  background-color: var(--white);
  height: 20px;
  left: 36px;
  position: absolute;
  top: 147px;
  width: 20px;
}
.iphone-11-pro-x-16 .rocket-romero-xeup4o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 10px;
  min-height: 21px;
  min-width: 122px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-16 .select-guests-t-split-dish-with-Q7JEYP {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 15.0px;
  margin-top: 0px;
  min-height: 27px;
  min-width: 262px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-16 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-16 .sophia-abi-ezzi-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 68px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: auto;
}
.iphone-11-pro-x-16 .split-dish-nxVO5P {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 102px;
  min-height: 28px;
  min-width: 102px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-16 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-16 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-16 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
