/* screen - iphone-11-pro-x-17 */

.iphone-11-pro-x-17 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-17 .alfredo-williams-OJ97EW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 295px;
}
.iphone-11-pro-x-17 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-17 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-17 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-17 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-17 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-17 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-17 .garlic-knots-sSV3Wz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 295px;
}
.iphone-11-pro-x-17 .group-14-SQ9Gz0 {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 39px;
  margin-left: -69px;
  margin-top: 35px;
  position: relative;
  width: 466px;
}
.iphone-11-pro-x-17 .group-15-SQ9Gz0 {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 39px;
  margin-left: -84px;
  margin-top: 16px;
  position: relative;
  width: 481px;
}
.iphone-11-pro-x-17 .how-were-the-dishes-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 5.0px;
  margin-top: 15px;
  min-height: 28px;
  min-width: 232px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-17 .icon-light-chevronleft-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-left: 0.98px;
  margin-top: 48px;
  position: relative;
  width: 12px;
}
.iphone-11-pro-x-17 .line-3-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 0.0px;
  margin-top: 28px;
  position: relative;
  width: 376px;
}
.iphone-11-pro-x-17 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-17 .menu-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 712px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  padding: 18px 0;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-17 .nounrating702217-1-OJ97EW {
  background-color: transparent;
  height: 39px;
  left: 223px;
  position: absolute;
  top: 0px;
  width: 241px;
}
.iphone-11-pro-x-17 .nounrating702217-1-sSV3Wz {
  background-color: transparent;
  height: 39px;
  left: 238px;
  position: absolute;
  top: 0px;
  width: 241px;
}
.iphone-11-pro-x-17 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-17 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-17 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-17 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-17 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-17 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-17 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-17 .thank-you-SQ9Gz0 {
  background-color: transparent;
  color: var(--aqua-forest-2);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 3.0px;
  min-height: 56px;
  min-width: 240px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-17 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-17 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-17 .your-payment-ha-been-processed-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 0px;
  min-height: 21px;
  min-width: 269px;
  position: relative;
  text-align: center;
  width: auto;
}
