/* screen - iphone-11-pro-x-2 */

.iphone-11-pro-x-2 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .alfredo-williams-Ik7OTQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 9.5px;
  min-height: 29px;
  position: relative;
  text-align: left;
  width: 131px;
}
.iphone-11-pro-x-2 .appetizers-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 86px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .baked-lorenzo-oLn3UQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 14px;
  min-height: 30px;
  position: relative;
  text-align: left;
  width: 119px;
}
.iphone-11-pro-x-2 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-2 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-2 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-2 .call-server-button-M2kxlM {
  background-color: transparent;
  height: 83px;
  left: 280px;
  position: absolute;
  top: 35px;
  width: 83px;
}
.iphone-11-pro-x-2 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-2 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-2 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-2 .chicken-and-tor-sto-cream-sauce-7jDHWK {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 9px;
  min-height: 18px;
  position: relative;
  text-align: left;
  width: 355px;
}
.iphone-11-pro-x-2 .chicken-breast-a-side-of-pasta-3ZRyFu {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 2.0px;
  margin-top: 0px;
  min-height: 28px;
  position: relative;
  text-align: left;
  width: 357px;
}
.iphone-11-pro-x-2 .chicken-pesto-tortellone-7jDHWK {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 13px;
  min-height: 19px;
  position: relative;
  text-align: left;
  width: 235px;
}
.iphone-11-pro-x-2 .dessert-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 63px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .drinks-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 21px;
  min-width: 52px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .entrees-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 62px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .entrees-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 10px;
  min-height: 28px;
  min-width: 81px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .frame-1-fTT21X {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -177px;
  min-height: 36px;
  overflow-x: scroll;
  position: relative;
  width: 378px;
}
.iphone-11-pro-x-2 .garlic-knots-AjW26r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 9px;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 185px;
}
.iphone-11-pro-x-2 .group-1-7if4uA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-right: -177px;
  min-width: 545px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-2 .group-2-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 19px;
  min-height: 118px;
  padding: 0 0.5px;
  position: relative;
  width: 381px;
}
.iphone-11-pro-x-2 .group-3-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -4px;
  margin-top: 10px;
  min-height: 117px;
  position: relative;
  width: 384px;
}
.iphone-11-pro-x-2 .group-5-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2px;
  margin-top: 13px;
  min-height: 88px;
  position: relative;
  width: 382px;
}
.iphone-11-pro-x-2 .group-7-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 12px;
  min-height: 121px;
  padding: 0 0.0px;
  position: relative;
  width: 381px;
}
.iphone-11-pro-x-2 .group-8-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 88px;
  position: absolute;
  top: 0px;
  width: 381px;
}
.iphone-11-pro-x-2 .group-9-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 53px;
  justify-content: flex-start;
  left: 0px;
  min-width: 379px;
  padding: 0 10px;
  position: absolute;
  top: 97px;
  width: auto;
}
.iphone-11-pro-x-2 .line-1-7if4uA {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: -18.0px;
  margin-top: 8px;
  position: relative;
  width: 69px;
}
.iphone-11-pro-x-2 .line-2-3ZRyFu {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-top: 7px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .line-2-7jDHWK {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 1.0px;
  margin-top: 3px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .line-2-DYGX7p {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 26px;
  width: 375px;
}
.iphone-11-pro-x-2 .line-2-Ik7OTQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-top: 8px;
  position: relative;
  width: 374px;
}
.iphone-11-pro-x-2 .line-2-Z9zAk9 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-bottom: 0.25px;
  margin-left: 34px;
  position: relative;
  width: 1px;
}
.iphone-11-pro-x-2 .line-2-oLn3UQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-left: 3.0px;
  margin-top: 5px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .linguine-baked-th-garlic-bread-oLn3UQ {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 0px;
  min-height: 56px;
  position: relative;
  text-align: left;
  width: 355px;
}
.iphone-11-pro-x-2 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-2 .menu-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 662px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .menu-tabs-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 43px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 634px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-2 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .overlap-group1-AjW26r {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-left: -0.0px;
  margin-top: 14px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-2 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-2 .overlap-group2-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 150px;
  margin-top: 11px;
  position: relative;
  width: 381px;
}
.iphone-11-pro-x-2 .overlap-group3-Z9zAk9 {
  background-color: transparent;
  flex-shrink: 1;
  height: 45px;
  position: relative;
  width: 143px;
}
.iphone-11-pro-x-2 .pasta-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 47px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-2 .pizza-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 45px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-2 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-2 .salads-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 55px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-2 .san-pelligrino-kVq9Zn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-2 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-2 .stuffed-chicken-genovese-3ZRyFu {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 9.0px;
  min-height: 31px;
  position: relative;
  text-align: left;
  width: 253px;
}
.iphone-11-pro-x-2 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-2 .tender-breast-o-ved-with-a-side-Ik7OTQ {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 6.0px;
  margin-top: 0px;
  min-height: 55px;
  position: relative;
  text-align: left;
  width: 355px;
}
.iphone-11-pro-x-2 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-2 .traditional-ita-led-with-cheese-AjW26r {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 8.0px;
  margin-top: 9px;
  min-height: 12px;
  position: relative;
  text-align: left;
  width: 355px;
}
.iphone-11-pro-x-2 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-2 .x15-DYGX7p {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 33px;
}
.iphone-11-pro-x-2 .x17-oLn3UQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 0px;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 52px;
}
.iphone-11-pro-x-2 .x20-3ZRyFu {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 4.0px;
  margin-top: 28px;
  min-height: 24px;
  position: relative;
  text-align: center;
  width: 39px;
}
.iphone-11-pro-x-2 .x21-Ik7OTQ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 9.5px;
  margin-top: 0px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 87px;
}
.iphone-11-pro-x-2 .x22-7jDHWK {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  position: relative;
  text-align: center;
  width: 52px;
}
.iphone-11-pro-x-2 .x5-kVq9Zn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 29px;
  width: auto;
}
