/* screen - iphone-11-pro-x-13 */

.iphone-11-pro-x-13 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-13 .alfredo-williams-n5JOeJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 295px;
}
.iphone-11-pro-x-13 .alfredo-williams-nZx2Bt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 295px;
}
.iphone-11-pro-x-13 .background-TzDfVE {
  background-color: var(--white);
  border-radius: 6.929999828338623px;
  box-shadow: 0px 3px 1px rgba(0,0,0,0.04) , 0px 3px 8px rgba(0,0,0,0.12);;
  height: 29px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 104px;
}
.iphone-11-pro-x-13 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-13 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-13 .button-primary-SQ9Gz0 {
  align-items: center;
  align-self: center;
  background-color: var(--aqua-forest);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-end;
  margin-top: 23px;
  min-width: 343px;
  padding: 0 92.5px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-13 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-13 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-13 .flex-col-FVcCvv {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 42px;
  position: relative;
  width: 295px;
}
.iphone-11-pro-x-13 .flex-col-f2yRit {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 30px;
  min-height: 45px;
  position: relative;
  width: 86px;
}
.iphone-11-pro-x-13 .flex-col-gAqxrx {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 42px;
  position: relative;
  width: 295px;
}
.iphone-11-pro-x-13 .flex-col-poO1ry {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 45px;
  min-height: 48px;
  position: relative;
  width: 86px;
}
.iphone-11-pro-x-13 .flex-col-t4OqWJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 30px;
  min-height: 45px;
  position: relative;
  width: 86px;
}
.iphone-11-pro-x-13 .flex-row-058uVV {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-top: 27px;
  min-width: 350px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .flex-row-Hx5wTK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 45px;
  justify-content: flex-start;
  min-width: 411px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .flex-row-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-left: 16px;
  min-width: 212px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .flex-row-ULzVxS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 48px;
  justify-content: flex-start;
  min-width: 426px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .flex-row-oxCEz8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 45px;
  justify-content: flex-start;
  min-width: 411px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .garlic-bread-CiFZ41 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 51.0px;
  margin-top: 5px;
  min-height: 16px;
  min-width: 74px;
  position: relative;
  text-align: left;
  width: auto;
}
.iphone-11-pro-x-13 .garlic-knots-HzLJKj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 295px;
}
.iphone-11-pro-x-13 .green-beans-meOh8r {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 48.0px;
  margin-top: 5px;
  min-height: 16px;
  min-width: 77px;
  position: relative;
  text-align: left;
  width: auto;
}
.iphone-11-pro-x-13 .group-10-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -42px;
  margin-top: 17px;
  min-height: 61px;
  position: relative;
  width: 423px;
}
.iphone-11-pro-x-13 .group-11-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -42px;
  margin-top: 14px;
  min-height: 61px;
  position: relative;
  width: 423px;
}
.iphone-11-pro-x-13 .group-12-kBrP5g {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 64px;
  position: absolute;
  top: 0px;
  width: 436px;
}
.iphone-11-pro-x-13 .group-13-81VQf1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 153px;
  position: relative;
  width: 359px;
}
.iphone-11-pro-x-13 .icon-1Wbicm {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 19px;
}
.iphone-11-pro-x-13 .icon-BAxO10 {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-bottom: 2.0px;
  margin-left: 187px;
  position: relative;
  width: 14px;
}
.iphone-11-pro-x-13 .icon-light-chevronleft-M2kxlM {
  background-color: transparent;
  height: 21px;
  left: 180px;
  position: absolute;
  top: 17px;
  width: 12px;
}
.iphone-11-pro-x-13 .iconfindervisa3018677-1-BAxO10 {
  background-color: transparent;
  flex-shrink: 1;
  height: 25px;
  object-fit: cover;
  position: relative;
  width: 44px;
}
.iphone-11-pro-x-13 .line-3-Hx5wTK {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-right: 5.5px;
  margin-top: 14px;
  position: relative;
  width: 376px;
}
.iphone-11-pro-x-13 .line-3-M2kxlM {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 376px;
}
.iphone-11-pro-x-13 .line-3-ULzVxS {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-right: 3.5px;
  margin-top: 14px;
  position: relative;
  width: 376px;
}
.iphone-11-pro-x-13 .line-3-oxCEz8 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-right: 5.5px;
  margin-top: 14px;
  position: relative;
  width: 376px;
}
.iphone-11-pro-x-13 .line-4-kBrP5g {
  background-color: transparent;
  height: 19px;
  left: 76px;
  position: absolute;
  top: 4px;
  width: 13px;
}
.iphone-11-pro-x-13 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-13 .menu-C61RwL {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 712px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-13 .open-button-9bO4Mp {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 5px;
  min-width: 84px;
  padding: 0 25px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .open-button-JUaxNc {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 5px;
  min-width: 84px;
  padding: 0 25px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .open-button-SQ9Gz0 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--black);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 0px;
  min-width: 110px;
  padding: 6px 13px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .open-button-lawZ6f {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 19px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 8px;
  min-width: 84px;
  padding: 0 25px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .option-light-de-selected-h1HWxh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 103px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .option-light-de-selected-iyMpb6 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-start;
  margin-left: 1px;
  min-width: 103px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .option-light-selected-iyMpb6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 28px;
  margin-top: 0.0px;
  position: relative;
  width: 103px;
}
.iphone-11-pro-x-13 .option-light-selected-uo108U {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-end;
  min-width: 103px;
  padding: 6.0px 1.2px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .option-light-selected-xhuaGG {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 28px;
  justify-content: flex-end;
  min-width: 103px;
  padding: 0 5.9px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .other-i6919968159-gaFY5o {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  height: 16px;
  letter-spacing: -0.24px;
  line-height: 20px;
  min-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 89px;
}
.iphone-11-pro-x-13 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-13 .overlap-group1-CiFZ41 {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  position: relative;
  width: 295px;
}
.iphone-11-pro-x-13 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-13 .overlap-group1-poO1ry {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-top: 3px;
  position: relative;
  width: 295px;
}
.iphone-11-pro-x-13 .overlap-group2-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 220px;
  margin-left: 1.5px;
  margin-top: 14px;
  position: relative;
  width: 376px;
}
.iphone-11-pro-x-13 .overlap-group3-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-left: -57px;
  margin-top: 11px;
  position: relative;
  width: 436px;
}
.iphone-11-pro-x-13 .overlap-group4-meOh8r {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  position: relative;
  width: 295px;
}
.iphone-11-pro-x-13 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-13 .pay-bill-1Wbicm {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 113px;
  min-height: 28px;
  min-width: 80px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .payment-81VQf1 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 25px;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 42px;
  min-width: 350px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-13 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-13 .radio-HzLJKj {
  background-color: transparent;
  height: 20px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.iphone-11-pro-x-13 .radio-n5JOeJ {
  background-color: transparent;
  height: 20px;
  left: 58px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.iphone-11-pro-x-13 .radio-nZx2Bt {
  background-color: transparent;
  height: 20px;
  left: 58px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.iphone-11-pro-x-13 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-13 .segmented-contr-s-left-selected-ZXI7iy {
  align-items: flex-start;
  background-color: var(--rolling-stone);
  border-radius: 8.90999984741211px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-left: 8px;
  overflow: hidden;
  padding: 2.0px 1.8px;
  position: relative;
  width: 315px;
}
.iphone-11-pro-x-13 .select-all-rFtx1Q {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  min-height: 22px;
  min-width: 81px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.iphone-11-pro-x-13 .separator-1M0x4x {
  background-color: var(--oslo-gray);
  border-radius: 0.5px;
  flex-shrink: 1;
  height: 16px;
  margin-left: 4px;
  opacity: 0.3;
  position: relative;
  width: 1px;
}
.iphone-11-pro-x-13 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-13 .span0-FsywV9 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.05px;
}
.iphone-11-pro-x-13 .span1-FsywV9 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.05px;
}
.iphone-11-pro-x-13 .span2-FsywV9 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.05px;
}
.iphone-11-pro-x-13 .split-OyVLlW {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -2px;
  min-height: 22px;
  min-width: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.iphone-11-pro-x-13 .split-RopSTY {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -2px;
  min-height: 22px;
  min-width: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.iphone-11-pro-x-13 .split-yRosmK {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -2px;
  min-height: 22px;
  min-width: 31px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.iphone-11-pro-x-13 .submit-payment-gSaABR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 27px;
  min-width: 156px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .subtotal-2350-058uVV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 21px;
  position: relative;
  text-align: center;
  width: 353px;
}
.iphone-11-pro-x-13 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-13 .tax-200-058uVV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 14px;
  min-height: 21px;
  position: relative;
  text-align: center;
  width: 353px;
}
.iphone-11-pro-x-13 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-13 .tip-ZXI7iy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 3.0px;
  min-height: 21px;
  min-width: 27px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .total2875-058uVV {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 17px;
  min-height: 21px;
  position: relative;
  text-align: center;
  width: 351px;
}
.iphone-11-pro-x-13 .totalpayment-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 14px;
  min-height: 220px;
  position: absolute;
  top: 0px;
  width: 351px;
}
.iphone-11-pro-x-13 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-13 .x0374-BAxO10 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 18px;
  min-height: 21px;
  min-width: 85px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .x20-i6919968168-1M0x4x {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  height: 16px;
  letter-spacing: -0.24px;
  line-height: 20px;
  min-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 89px;
}
.iphone-11-pro-x-13 .x21-9bO4Mp {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 21px;
  min-width: 33px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .x21-JUaxNc {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 21px;
  min-width: 33px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-13 .x25-i6919968176-TzDfVE {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 8px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 89px;
}
.iphone-11-pro-x-13 .x250-lawZ6f {
  background-color: transparent;
  color: var(--aqua-forest-2);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 21px;
  min-width: 47px;
  position: relative;
  text-align: center;
  width: auto;
}
