/* screen - iphone-11-pro-x-2 */

.iphone-11-pro-x-1 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-1 .appetizers-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 12px;
  min-height: 21px;
  min-width: 86px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .sub-Group-Title {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 10px;
  margin-top: 9px;
  min-height: 28px;
  position: relative;
  text-align: center;
  width: auto;
}

.iphone-11-pro-x-1 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}

.iphone-11-pro-x-1 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-1 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-1 .call-server-button {
  background-color: transparent;
  height: 83px;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 83px;
}
.iphone-11-pro-x-1 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-1 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-1 .cellular-connection-EwRWMP {
  background-color: black;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-1 .dessert-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 63px;
  position: relative;
  text-align: center;
  width: auto;
}

.iphone-11-pro-x-1 .drinks-ewCyqt {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 3.0px;
  min-height: 21px;
  min-width: 52px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .entrees-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 62px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .flex-col-54bXGk {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -1.5px;
  min-height: 32px;
  position: relative;
  width: 69px;
}
.iphone-11-pro-x-1 .frame-1-fTT21X {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 36px;
  justify-content: flex-start;
  margin-left: -2px;
  min-width: 378px;
  overflow-x: scroll;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-1 .group-1-7if4uA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  min-width: 555px;
  padding: 0 0.0px;
  position: relative;
  width: auto;
}

.iphone-11-pro-x-1 .menu-item {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 9px;
  position: relative;
  width: 380px;
}

.iphone-11-pro-x-1 .tab-line {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-top: 8px;
  position: relative;
  width: 69px;
}
.iphone-11-pro-x-1 .divider-line {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: -0.5px;
  margin-top: 8px;
  position: relative;
  width: 376px;
}

.iphone-11-pro-x-1 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-1 .menu-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 662px;
  justify-content: flex-start;
  margin-top: 7px;
  overflow: scroll;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-1 .menu-tabs-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 43px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 634px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-1 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-1 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-1 .overlap-group2-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 122px;
  margin-top: 0px;
  position: relative;
  width: 379px;
}
.iphone-11-pro-x-1 .pasta-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 21px;
  min-height: 21px;
  min-width: 47px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-1 .pizza-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 45px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-1 .rectangle-1-4eduM0 {
  background-color: black;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-1 .item-name {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 9px;
  min-height: 21px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-1 .salads-54bXGk {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 55px;
  position: relative;
  text-align: center;
  width: auto;
}


.iphone-11-pro-x-1 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}

.iphone-11-pro-x-1 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-1 .time-EwRWMP {
  align-self: flex-end;
  background-color: black;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}

.iphone-11-pro-x-1 .item-description {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 10px;
  margin-top: 11px;
  min-height: 16px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-1 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}

.iphone-11-pro-x-1 .price {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 10px;
  margin-top: 11px;
  min-height: 16px;
  position: relative;
  text-align: center;
  width: auto;
}

.iphone-11-pro-x-1 .x1-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Poppins', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: auto;
}
