/* screen - iphone-11-pro-x-4 */

.iphone-11-pro-x-4 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-4 .add-food-Q7JEYP {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 103px;
  justify-content: flex-start;
  margin-right: 10.0px;
  margin-top: 6px;
  min-width: 223px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .add-protein-Q7JEYP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 16px;
  margin-top: 9px;
  min-height: 28px;
  min-width: 126px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .add-to-plate-17-hDRmAL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 27px;
  min-width: 160px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .baked-lorenzo-nxVO5P {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 74px;
  min-height: 28px;
  min-width: 158px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .border-CPn5BB {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-4 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-4 .button-primary-Q7JEYP {
  align-items: center;
  align-self: center;
  background-color: var(--aqua-forest);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-end;
  margin-top: 0px;
  min-width: 343px;
  padding: 0 90.5px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-4 .capacity-CPn5BB {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-4 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-4 .chicken-xeup4o {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 22px;
  min-height: 21px;
  min-width: 63px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .divider-MNSPzD {
  background-color: transparent;
  flex-shrink: 1;
  height: 1px;
  margin-top: 12px;
  position: relative;
  width: 343px;
}
.iphone-11-pro-x-4 .flex-row-Q7JEYP {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 34px;
  justify-content: flex-start;
  margin-left: 16px;
  min-width: 251px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .flex-row-agUl4B {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 18px;
  min-width: 105px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .flex-row-mfnDKh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 16px;
  min-width: 100px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .flex-row-ooPxKw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 35px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 16px;
  min-width: 178px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .flex-row-qpX2o1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-left: 16px;
  margin-top: 2px;
  min-width: 119px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-4 .icon-light-chevronleft-NjUkuf {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-left: 55px;
  position: relative;
  width: 12px;
}
.iphone-11-pro-x-4 .icon-nxVO5P {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 19px;
}
.iphone-11-pro-x-4 .line-2-Q7JEYP {
  background-color: transparent;
  flex-shrink: 1;
  height: 2px;
  margin-left: 0.0px;
  margin-top: 16px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-4 .line-3-uNTEQh {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 375px;
}
.iphone-11-pro-x-4 .linguine-baked-th-garlic-bread-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 66px;
  width: 445px;
}
.iphone-11-pro-x-4 .meatballs-uv0Bek {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 22px;
  min-height: 21px;
  min-width: 77px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-4 .menu-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 712px;
  justify-content: flex-start;
  left: 0px;
  overflow: hidden;
  padding: 20px 0;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-4 .noun-minus89428-1-dJQfz5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 103px;
  margin-top: -0.14px;
  object-fit: cover;
  position: relative;
  width: 100px;
}
.iphone-11-pro-x-4 .noun-plus89427-1-lx2bdB {
  background-color: transparent;
  height: 74px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100px;
}
.iphone-11-pro-x-4 .nounrating702214-1-uNTEQh {
  background-color: transparent;
  height: 52px;
  left: 86px;
  position: absolute;
  top: 0px;
  width: 201px;
}
.iphone-11-pro-x-4 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-4 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 712px;
  margin-top: 0px;
  position: relative;
  width: 466px;
}
.iphone-11-pro-x-4 .overlap-group2-Q7JEYP {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  margin-left: 0.0px;
  margin-top: 96px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-4 .overlap-group2-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-4 .overlap-group3-dJQfz5 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 74px;
  margin-bottom: 0.99px;
  margin-left: 0px;
  position: relative;
  width: 121px;
}
.iphone-11-pro-x-4 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-4 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-4 .radio-NjUkuf {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-4 .radio-selected-Q7JEYP {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 2px;
  min-height: 48px;
  position: relative;
  width: 343px;
}
.iphone-11-pro-x-4 .radio-t3vd4m {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-4 .radio-uv0Bek {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-4 .radio-xeup4o {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x-4 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-4 .sausage-NjUkuf {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 22px;
  min-height: 21px;
  min-width: 69px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-4 .shrimp-t3vd4m {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 22px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .special-instructions-Q7JEYP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 16px;
  margin-top: 12px;
  min-height: 28px;
  min-width: 210px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-4 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-4 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-4 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-4 .write-any-reque-e-no-cheese-etc-MNSPzD {
  background-color: transparent;
  color: var(--silver);
  flex-shrink: 1;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 346px;
  position: relative;
  text-align: left;
  width: auto;
}
.iphone-11-pro-x-4 .x1-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Poppins', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 44px;
  width: auto;
}
.iphone-11-pro-x-4 .x1-lx2bdB {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: auto;
}
