/* screen - iphone-11-pro-x-18 */

.iphone-11-pro-x-18 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .amazing-flavor-erfectly-cooked-aCi1Gy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 3px;
  min-height: 55px;
  position: relative;
  text-align: left;
  width: 262px;
}
.iphone-11-pro-x-18 .battery-EwRWMP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 11px;
  justify-content: flex-start;
  margin-left: 4px;
  margin-top: 2.0px;
  min-width: 24px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .border-wLzIuK {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 22px;
}
.iphone-11-pro-x-18 .bounds-flkIpC {
  background-color: transparent;
  height: 1px;
  left: 21px;
  position: absolute;
  top: 24px;
  width: 1px;
}
.iphone-11-pro-x-18 .cap-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 4px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 2px;
}
.iphone-11-pro-x-18 .capacity-wLzIuK {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.iphone-11-pro-x-18 .cellular-connection-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 217px;
  margin-top: 2.0px;
  position: relative;
  width: 17px;
}
.iphone-11-pro-x-18 .ellipse-2-AdSZ0j {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 85px;
  margin-left: 7px;
  object-fit: cover;
  position: relative;
  width: 85px;
}
.iphone-11-pro-x-18 .ellipse-2-C53rZT {
  background-color: transparent;
  flex-shrink: 1;
  height: 85px;
  margin-left: 7px;
  object-fit: cover;
  position: relative;
  width: 85px;
}
.iphone-11-pro-x-18 .ellipse-2-Sh2yDD {
  background-color: transparent;
  flex-shrink: 1;
  height: 85px;
  margin-left: 7px;
  object-fit: cover;
  position: relative;
  width: 85px;
}
.iphone-11-pro-x-18 .flex-col-AdSZ0j {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 89px;
  position: relative;
  width: 276px;
}
.iphone-11-pro-x-18 .flex-col-C53rZT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 1.0px;
  min-height: 82px;
  position: relative;
  width: 262px;
}
.iphone-11-pro-x-18 .flex-col-Sh2yDD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 1.0px;
  min-height: 82px;
  position: relative;
  width: 262px;
}
.iphone-11-pro-x-18 .flex-row-8c2BoC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 2px;
  min-width: 194px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .flex-row-Ik7OTQ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 85px;
  justify-content: flex-start;
  margin-right: 5.0px;
  min-width: 354px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .flex-row-SQ9Gz0 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 32px;
  justify-content: flex-start;
  margin-left: 13px;
  min-width: 312px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .flex-row-VpQDh0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 85px;
  justify-content: flex-start;
  margin-right: 5.0px;
  min-width: 354px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .flex-row-aCi1Gy {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 2px;
  min-width: 194px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .flex-row-p2TMSN {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 90px;
  justify-content: flex-start;
  min-width: 368px;
  position: relative;
  width: auto;
}
.iphone-11-pro-x-18 .group-2-SQ9Gz0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 27px;
  min-height: 96px;
  position: relative;
  width: 379px;
}
.iphone-11-pro-x-18 .group-3-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1px;
  min-height: 89px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.iphone-11-pro-x-18 .group-4-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 101px;
  position: absolute;
  top: 84px;
  width: 383px;
}
.iphone-11-pro-x-18 .group-5-M2kxlM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1px;
  min-height: 89px;
  position: absolute;
  top: 0px;
  width: 382px;
}
.iphone-11-pro-x-18 .group-6-kBrP5g {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 89px;
  position: absolute;
  top: 0px;
  width: 382px;
}
.iphone-11-pro-x-18 .group-7-kBrP5g {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 3px;
  min-height: 80px;
  position: absolute;
  top: 90px;
  width: 379px;
}
.iphone-11-pro-x-18 .group-8-SQ9Gz0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -2px;
  margin-top: 0px;
  min-height: 96px;
  position: relative;
  width: 379px;
}
.iphone-11-pro-x-18 .group-9-SQ9Gz0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -5px;
  margin-top: 1px;
  min-height: 89px;
  position: relative;
  width: 277px;
}
.iphone-11-pro-x-18 .i-got-it-with-c-really-liked-it-0spwuw {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 0px;
  min-height: 55px;
  position: relative;
  text-align: left;
  width: 262px;
}
.iphone-11-pro-x-18 .icon-1Wbicm {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 19px;
}
.iphone-11-pro-x-18 .it-was-decent-i-le-saucy-for-me-sQAwx2 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 2px;
  margin-top: 0px;
  min-height: 55px;
  position: relative;
  text-align: left;
  width: 262px;
}
.iphone-11-pro-x-18 .it-was-decent-i-le-saucy-for-me-xgxvSe {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 262px;
}
.iphone-11-pro-x-18 .it-was-pretty-g-ch-tomato-sauce-54at9n {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 262px;
}
.iphone-11-pro-x-18 .it-was-pretty-g-ch-tomato-sauce-mqqib2 {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 262px;
}
.iphone-11-pro-x-18 .line-2-54at9n {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-Ik7OTQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 4.0px;
  margin-top: 8px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-VpQDh0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 4.0px;
  margin-top: 8px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-dDJbWI {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-mqqib2 {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-p2TMSN {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-left: 4.0px;
  margin-top: 8px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .line-2-xgxvSe {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 375px;
}
.iphone-11-pro-x-18 .menu-4eduM0 {
  background-color: transparent;
  height: 48px;
  left: 21px;
  position: absolute;
  top: 41px;
  width: 43px;
}
.iphone-11-pro-x-18 .menu-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 712px;
  justify-content: flex-start;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .not-really-what-and-very-mushy-dDJbWI {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 262px;
}
.iphone-11-pro-x-18 .nounrating702214-1-113O14 {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 124px;
}
.iphone-11-pro-x-18 .nounrating702214-1-24IZYJ {
  background-color: transparent;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 124px;
}
.iphone-11-pro-x-18 .nounrating702214-1-ZA3dTy {
  background-color: transparent;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 124px;
}
.iphone-11-pro-x-18 .nounrating702214-1-t6hxge {
  background-color: transparent;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 124px;
}
.iphone-11-pro-x-18 .nounrating702214-1-xFtXSb {
  background-color: transparent;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 124px;
}
.iphone-11-pro-x-18 .nounrating702216-1-kBrP5g {
  background-color: transparent;
  height: 31px;
  left: 8px;
  position: absolute;
  top: 81px;
  width: 115px;
}
.iphone-11-pro-x-18 .nounrating702221-1-HarXxT {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  position: relative;
  width: 101px;
}
.iphone-11-pro-x-18 .nounrating702221-1-YTCzcR {
  background-color: transparent;
  flex-shrink: 1;
  height: 22px;
  position: relative;
  width: 101px;
}
.iphone-11-pro-x-18 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .overlap-group1-113O14 {
  background-color: transparent;
  flex-shrink: 1;
  height: 55px;
  margin-left: 3.0px;
  margin-top: 0px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .overlap-group1-8YWtJq {
  background-color: transparent;
  flex-shrink: 1;
  height: 55px;
  margin-left: 3.0px;
  margin-top: 0px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .overlap-group1-bzTY9S {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 22px;
}
.iphone-11-pro-x-18 .overlap-group2-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 185px;
  margin-left: -3px;
  margin-top: 1px;
  position: relative;
  width: 383px;
}
.iphone-11-pro-x-18 .overlap-group3-SQ9Gz0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 170px;
  margin-left: -2px;
  margin-top: 1px;
  position: relative;
  width: 382px;
}
.iphone-11-pro-x-18 .overlap-group4-8YWtJq {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 209px;
}
.iphone-11-pro-x-18 .overlap-group4-RMhrVp {
  background-color: transparent;
  flex-shrink: 1;
  height: 55px;
  margin-left: 3.0px;
  margin-top: 0px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .overlap-group5-RMhrVp {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 209px;
}
.iphone-11-pro-x-18 .overlap-group5-jN2zty {
  background-color: transparent;
  flex-shrink: 1;
  height: 55px;
  margin-right: 4.0px;
  margin-top: 3px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-18 .overlap-group6-0spwuw {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 210px;
}
.iphone-11-pro-x-18 .overlap-group7-sQAwx2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 209px;
}
.iphone-11-pro-x-18 .pasta-jays-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}
.iphone-11-pro-x-18 .plate-1-4eduM0 {
  background-color: transparent;
  height: 52px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 63px;
}
.iphone-11-pro-x-18 .rectangle-1-4eduM0 {
  background-color: var(--black);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.iphone-11-pro-x-18 .reviews-baked-lorenzo-1Wbicm {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 29px;
  min-height: 28px;
  min-width: 264px;
  position: relative;
  text-align: center;
  width: auto;
}
.iphone-11-pro-x-18 .shape-flkIpC {
  background-color: transparent;
  height: 24px;
  left: 5px;
  position: absolute;
  top: 12px;
  width: 33px;
}
.iphone-11-pro-x-18 .system-dark-status-bar-default-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 0px;
  min-width: 375px;
  padding: 7px 14.3px;
  position: absolute;
  top: 0px;
  width: auto;
}
.iphone-11-pro-x-18 .time-EwRWMP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: center;
  width: 56px;
}
.iphone-11-pro-x-18 .very-good-loved-cken-was-cooked-8c2BoC {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-top: 3px;
  min-height: 55px;
  position: relative;
  text-align: left;
  width: 262px;
}
.iphone-11-pro-x-18 .wifi-EwRWMP {
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 4px;
  margin-top: 1.66px;
  position: relative;
  width: 16px;
}
.iphone-11-pro-x-18 .x1-week-ago-ZA3dTy {
  background-color: transparent;
  height: auto;
  left: 122px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: 87px;
}
.iphone-11-pro-x-18 .x1-year-ago-24IZYJ {
  background-color: transparent;
  height: auto;
  left: 122px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: 87px;
}
.iphone-11-pro-x-18 .x2-months-ago-xFtXSb {
  background-color: transparent;
  height: auto;
  left: 122px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: 87px;
}
.iphone-11-pro-x-18 .x2-weeks-ago-t6hxge {
  background-color: transparent;
  height: auto;
  left: 123px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: 87px;
}
.iphone-11-pro-x-18 .x3-days-ago-HarXxT {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 6px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 87px;
}
.iphone-11-pro-x-18 .x3-months-ago-YTCzcR {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-left: 6px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 87px;
}
.iphone-11-pro-x-18 .x3-months-ago-jN2zty {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: -0.30px;
  line-height: normal;
  margin-right: 54.0px;
  min-height: 22px;
  position: relative;
  text-align: left;
  width: 87px;
}
